#hero {
    height: 400px;
    background-image: url("../img/lautt.jpg");
    background-size: cover;
    background-position: bottom center;
    color:#fff;
    margin-bottom: 30px;

}

#hero .hero-text{
    max-width: 600px;
}